@{
    ViewData["Title"] = "Trang chủ";
}

<div class="banner"></div>

<p> hello world</p>

<style>
    .banner {
        position: absolute;
        left: 0;
        top: 45px;
        width: 100vw;
        height: 100vh;
        background: url('/img/Muine1.png') center top / cover no-repeat;
        z-index: -1;
    }
</style>

