@using BookingTourTravelBuzz.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;



<ul class="navbar-nav ms-auto">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="TourManager" asp-action="Domestic">Admin Dashboard</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
    }
</ul>